body{
  background-color:pink;
  color: black;
  text-align: left;
  font-family: cursive;
  margin-left: 10%;
  margin-right: 10%
  
}

#bg{
  width: 100vw;
  height:100vh;
  z-index: -999;
  position: fixed;
  top: 0px;
  left: 0px;
}

.header{
  font-family: cursive;
  text-align:center;
  font-size:300%;
  color:black;
  }

h2.heading{
  font-size: 200%;
}

.bordered{
  border-style:color;
   border-color: #d3dbec;
  border-width:3px;
  padding: 5px;
  border-radius: 9px;
   margin: 5px;
  background-color:  #a8392e;
  color: #ffff
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black ;
  background-color: transparent;
  text-decoration: underline;
}

hr{
  height: 2px;
  border: 2px;
  background-color: #d1bec5;
}

#footer{
  font-size: 200%;
  text-align: center; 
}

#nav-list {
  display: flex;
  justify-content: center;
  list-style-type: none; 
  position:relative;
  background-color:beige; 
}

#nav-list > li{
  flex-grow: 1;
  display: inline-block;
  width: 15%;
}


#nav-list ul {
  display: none;
  background-color: white;
}

#nav-list li:hover ul{
  display: block;
  
  
} 

#nav-list li ul {
  list-style-type: none;
  padding: 0px; 
  position: absolute;
}
