body{
  background-color:#FFC0CB;
  color: black;
  text-align: left;
  font-family: Brush Script MT;
  margin-left: 10%;
  margin-right: 10%
  
}

#bg{
  width: 150vw;
  height:100vh;
  z-index: -999;
  position: fixed;
  top: 0px;
  left: 0px;
}

.heading{
  font-family: ,Brush Script MT;
  text-align:center;
  font-size:300%;
  color:black;
  text-shadow: #F5F5DC 4px 4px
  }

h2.heading{
  font-size: 200%;
}

.bordered{
  border-style:color;
   border-color: #d3dbec;
  border-width:3px;
  padding: 5px;
  border-radius: 9px;
   margin: 5px;
  background-color:  #a8392e;
  color: #ffff
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black ;
  background-color: transparent;
  text-decoration: underline;
}

hr{
  height: 2px;
  border: 2px;
  background-color: #d1bec5;
}

#footer{
  font-size: 200%;
  text-align: center; 
}
