body{
  margin: 0px;
  background-color:tan; 
}

#content, #album, #info{
  float: left;
}

#content{
  border: none;
  width: 50%;
  background-color: tan;
 
}
#album{
  border: none;
  width: 29%;
  background-color: tan;
}

#info{
  border:none;
  max-width: 18%;
}

#player button{
  float:left;
}

#player audio::-webkit-media-controls-play-button{
 display: none;
}

#player audio{
  height: 1em;
}
#banner{
  width: 100vw;
  height:50vw;
}

#tracklist{
  list-style-type: none; 
}

.track-li{
  font-size: 150%;
  font-style: italic;
}

  #player audio::-webkit-media-controls-pannel{
    background-color: #fff;}
  
  #album-cover{
    width:100%;
  }

#dog {
  width: 100%;
}

#info img{
  width: 100%;
}

a{
  color: black
}
