#to-do-list{
  list-style-type: none; 
  text-align: left;
}
body{
  color: sage;
  text-align: center;
  font-family: cursive;
  margin-left: 10%;
  margin-right: 10%;
  margin: 0; 
  
}

#bg{
    width: 100vw;
    height: 100vh;
    z-index: -999;
    position: fixed;
    top: 0px;
    left: 0px;
}

#list-group{
  padding: 10px;
  background-color: rgba(1,1,1 , 0.2);
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  
}
